*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

nav {
    position: sticky;
    top: 0;
    right: 0;
    padding: 1rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}
nav a {
    text-decoration: none;
    color: #000;
}

.container{
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 10rem 20rem;
}

/* the google image */
.image {
    background-color: #ccc015;
    margin: 2rem auto;
    padding: 1rem;
    width: 200px;
    height: 100px;
}

.inputField, form {
    /* position: relative;
    display: flex;
    align-items: center;
    width: 100%; */
    padding: 1rem;
    text-align: center;
    background: pink;
}

.buttons {
    display: none;
}
/* input[type="text"] {
      width: 50%;
      padding: 10px;
      border-radius: 24px;
      border: 1px solid #ccc;
      font-size: 16px;
} */